@import "variables";
@import "mixins";
@import "reboot";
@import "header";
@import "extends";
@import "container";
// TODO feedback: 全局样式建议放在reboot.scss中
.main {
  margin: 80px auto $base-margin auto;
  padding: 0 3 * $base-padding 2 * $base-padding 3 * $base-padding;

  width: 60%;
  background-color: $white;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $body-bg;
  color: $gray-dark;
}

p {
  font-size: $font-size-base;
}
