@import "variables";
@import "mixins";
@import "reboot";
@import "header";
@import "extends";

.main {
  margin: 80px auto $base-margin auto;
  padding: 0 2 * $base-padding 2 * $base-padding 2 * $base-padding;

  width: 70%;
  background-color: $white;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $body-bg;
  color: $gray-dark;
}

p {
  font-size: $font-size-base;
}
